h1 {
    font-size: 4rem;
    color:rgb(18, 18, 18)
    
        
    }
.title{
 position:fixed;
 margin-left: 3cm;
 text-align: center;   
}
p {
    font-size: 1.5rem;
}
body {
    margin: 0;
    font-family: 'Prompt', sans-serif;
    color: rgb(18, 18, 18);
    background: #ffffff;
    overflow-x: hidden;
  
}

section {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 700px;
    padding-top: 800px;
    margin-bottom: 100px;
    width:100%;
    height: 200%;
    background-color: transparent;
}

.wrapper {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-row-gap: 100px;
    grid-column-gap: 200px;
    background-color: transparent;
    color: #444;
    /* bottom: 50px; */
  }
  
  .box {
    background-color: #444;
    color: #fff;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
  }


img{
    max-height: 100%;
    max-width: 100%;
    
    /* width: 50%;
    height: 50%;
    align-items: flex-start; */
    /* object-fit: cover; */
}
/* .image:hover{
    backdrop-filter: blur(10px);
    filter: blur(4px);
    transition: 1s ease;
} */


.paragraph{
    font-family: 'Prompt', sans-serif;
    text-align: left;
    margin-left: 3cm;
    position:absolute;
    bottom: 180px;
}



